body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.back{
    position : absolute;
    top :50%;
    left: 10%;
    width: 40px;
    height: 40px;
    background: rgba(238, 170, 153, 0.389);
}

.next {

    position : absolute;
    top :50%;
    right: 10%;
    width: 40px;
    height: 40px;
    background: rgba(238, 170, 153, 0.389);
}

.door {
    position : absolute;
    width: 40px;
    height: 40px;
    background: rgba(238, 170, 153, 0.389);
}

.back:hover,
.next:hover,
.mouse:hover,
.selector:hover,
.button:hover {


    background: rgb(238, 221, 153);
}

.option-container {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}